*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #1f2937;
  max-width: 500px;
  margin: auto;
  padding: 40px 20px;
}

.title1 {
  color: white;
  margin-bottom: 0px;
}

.title2 {
  color: #10b981;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow: 0 0px 10px rgba(255, 255, 255, .8);
}

p, label,
.markers,
.length-display,
i {
  color: #d5d4d8;
}

.subtitle {
  margin-top: 7px;
}

.length-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* Range Reset */
input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 129px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid white;
  outline: 2px solid white;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid white;
  outline: 2px solid white;
}

/* Different browsers for slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #10b981;
  height: 0.5rem;
  border-radius: 10px;
  border: 1px solid white;
}

input[type="range"]::-moz-range-track {
  background-color: #10b981;
  height: 0.5rem;
  border-radius: 10px;
}

/* Different browsers for slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -5px;
  background-color: #10b981;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid white;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #10b981;
  height: 1rem;
  width: 1rem;
}

.checkbox {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

#generate-button {
  background-color: #10b981;
  border: none;
  width: 150px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

#generate-button:hover {
  box-shadow: 0 0px 10px rgba(255, 255, 255, .8);
}

.separator-container {
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 400px;
  margin-top: 40px;
  border-top: 1px solid #2f3e53;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 45px;
  gap: 1rem;
  margin-top: 35px;
  margin-bottom: 20px;
}

.password {
  width: 200px;
  height: 35px;
  background-color: #2f3e53;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#password1,
#password2 {
  color: #10b981;
  text-align: center;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.copy-text {
  font-size: 13px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  .title1, 
  .title2 {
    font-size: 34px;
  }

  .separator {
    max-width: 300px;
  }

  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
